/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body, #app {
  height:100%
}

.navbar,
.navbar .links {
  background:#f9f9f9 !important;
}

.theme-container.no-sidebar {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  padding:0 !important;
}

.home .hero img
  max-width 100px!important

#main-title {
  font-size: 2rem;
}

.home .hero .description {
    font-size: 1.2rem !important;
    line-height: 1.6 !important;
}
